*.xcsettings
jarbinder/xcode/jarbinder.xcodeproj/xcuserdata/kovacsi.xcuserdatad
jarbinder/build/xcode/jarbinder.xcodeproj/xcuserdata/kovacsi.xcuserdatad
jarbinder/xcode/jarbinder.xcodeproj/project.xcworkspace/xcuserdata/kovacsi.xcuserdatad
jarbinder/.gradle/2.9/taskArtifacts
jarbinder/.idea
